# Python
__pycache__/
*.py[cod]
.venv/
venv/
env/

# Environment variables
.env
.env.*
!.env.example

# Jupyter
.ipynb_checkpoints/

# Data
data/raw/
data/processed/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# PostgreSQL / local
*.sql.bak

# Pytest
.pytest_cache/
